@import "tailwindcss";

:root{
  --primary:#0A2342;
  --gold:#C8A24F;
  --bg:#F8F8F5;
  --dark:#081321;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--bg);
  color:#111827;
  overflow-x:hidden;
}

.font-heading{
  font-family:var(--font-playfair);
}

.font-body{
  font-family:var(--font-inter);
}

::selection{
  background:#C8A24F;
  color:white;
}